* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "montserrat";
}

body {
  background-image: url("https://www.publicdomainpictures.net/pictures/210000/nahled/yellow-wallpaper-background-1484002428wK8.jpg");
  overflow: hidden;´
  

}
