* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "montserrat";
}

body {
  background-image: url("https://images.photowall.com/products/59508/white-background.jpg?h=699&q=85");
  overflow: hidden;´
  

}
